{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='simditor/styles/simditor.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome.css') }}" />
<script type="text/javascript" src="{{ url_for('static',filename='simditor/scripts/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='simditor/scripts/module.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='simditor/scripts/hotkeys.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='simditor/scripts/simditor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='simditor/scripts/uploader.js') }}"></script>
<script>
  $('#uploading').on('click', function () {
      $(this).button('complete')
  })
</script>

{% endblock %}

{% block content %}

<div class="container">
<div class="row">
<form class="col-md-10 col-md-offset-1 forml" method="POST">
    <div class="from-group">
    {{ form.hidden_tag() }}
    {{ form.title.label(for='posttitle') }}{{ form.title(id='posttitle',class='form-control',placeholder="请输入文章标题") }}
    </div>
    <div class="from-group">
    {{ form.tag.label(for='posttag') }}{{ form.tag(id='posttag',class='form-control',placeholder="多个标签请用空格隔开") }}
    </div>
    <div class="checkbox">
        <label>{{ form.hide(type='checkbox') }}不公开</label>
    </div>
    <div class="form-group">
    {{ form.body(id="editor",placeholder="Balabala",autofocus="") }}
    </div>
    <div class="from-group">
    {{ form.submit(class='form-control btn btn-success') }}
    </div>
</form>
</div>
</div>

{% block footer %}
{% endblock %}



{% endblock %}
{% block script %}
{{ super() }}
<script>
var editor = new Simditor({
    textarea: $('#editor'),
    upload : {
    url : '/myadmin/upload/files', //文件上传的接口地址
    params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
    fileKey: 'upload_file', //服务器端获取文件数据的参数名
    connectionCount: 3,
    leaveConfirm: '正在上传文件'
}
  //optional options
});

</script>
{% endblock %}